body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
}

.container {
    max-width: 750px;
    margin: auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

/* Controls */
.controls {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: 30%;
}

.controls input,
.controls select {
    flex: 1;
    padding: 10px;
    height: 30%;
}

.controls button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    height: 30%;
}

#addBtn { background: #4CAF50; }
#clearBtn { background: #f44336; }

.search {
    width: 50%;
    padding: 10px;
    margin-bottom: 40px;
}
.edit-btn {
    padding: 6px 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Task List */
ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
}

li span {
    flex: 1;
}

/* Priority Colors */
.low { border-left: 30px solid green; }
.medium { border-left: 30px solid orange; }
.high { border-left: 30px solid red; }

/* Footer */
.footer {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;  
    display: block !important;
    visibility: visible !important;
    margin-right: 20px;

}
.priority-footer {
    margin-top: 15px;
}

.filter {
    cursor: pointer;
    color: #2196F3;
}

.filter:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 600px) {
    li {
        flex-direction: column;
        align-items: flex-start;
    }
}
